// Panel
$color-right-panel-background: #f2f3f5;

$input-bg-color: #fff;
$input-text-color: #000000;
$button-text-color: #fff;

$primary-color: #000000;
$primary-color-yellow: #efde9e;
$primary-color-red: #e41b22;
$primary-active-color: #000000;
$secondary-active-color: #000000;
